*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

/* Container */
.container {
    background: #ffffff;
    padding: 25px;
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    animation: fadeIn 0.5s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Title */
h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

/* Sub Title */
h2 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #444;
    font-size: 18px;
}

/* Input & Select */
input, select {
    width: 100%;
    padding: 10px 12px;
    margin: 6px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
}

/* Focus Effect */
input:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76,175,80,0.3);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(135deg, #4CAF50, #43a047);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

/* Hover Button */
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* List */
ul {
    list-style: none;
    margin-top: 10px;
}

/* Transaction Item */
li {
    padding: 10px;
    border-radius: 8px;
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    animation: fadeIn 0.3s ease;
}

/* Income Style */
.income {
    background: #e8f5e9;
    color: #2e7d32;
}

/* Expense Style */
.expense {
    background: #ffebee;
    color: #c62828;
}

/* Summary */
p {
    padding: 10px;
    border-radius: 8px;
    margin: 6px 0;
    background: #f1f3f6;
    font-weight: 500;
}

/* Icome */
#income {
    background: #e8f5e9;
    color: #2e7d32;
}

/* Eense */
#expense {
    background :#ffebee;
    color: #c62828;
}

/* Balance */
#balance {
    background: #e3f2fd;
    color: #1565c0;
}

/* Biggest Expense */
#biggest {
    background: #fff3e0;
    color: #ef6c00;
}
